body{
    font-family: monospace;
    left: 100px;
    right: 100px;
    height: 100%;
    margin: 0px;
    position: absolute;
    background: #f7f7f7;
    
}
.main-container{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50px;
    bottom: 50px;
}
.top-head{
   width: 100%;
   height: 50px;
}
#remaining-time{
    display: none;
}
.head-txt{
    float: left;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    padding: 6px;
}
.exit-btn{
    float: right;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #4BC100;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.head-band{
    width: 100%;
    background: #4BC100;
    height: 50px;
}
.q-count{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    padding-top: 15px;
}
.qustion-video-wrap{
    bottom: 0px;
    top: 100px;
    width: 100%;
    position: absolute;
}
.question-wrap{
    width: 50%;
    float: left;
    background: #fff;
    height: 100%;
}
.video-wrap{
    width: 50%;
    float: left;
    background: #000;
    height: 100%;
}
.question{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 900;
    background: #3c7f96;

}
.options{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
}
.options:hover{
    background: #f1f1f1;
}
.btn{
    background: #009688;
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 1px;
    cursor: pointer;
    font-weight: 900;
}
.btn:hover{
    opacity: .9;
    
}
.record-btn-wrap{
    position: absolute;
    bottom: 0px;
    width: 50%;
}
.flash-msg{
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    background: #000;
    z-index: 999999;
}
.loader-wrap{
    width: 100px;
    margin:0 auto;
    margin-top: 100px;
}
.loader-wrap img{
    width: 100px;
}
.flash-text{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.red{
    background: #ff7043 !important;
}
#publisherdiv{
    width: 100%;
    height: 100%;
}

#plaback{
    display: none;
}
.teaser{
    width: 50%;
    position: absolute;
    right: 0px;
    z-index: 9999;
    background: #009688;
    padding-top: 11px;
    padding-bottom: 11px;
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}
.plaback-video{
    width: calc(100% - 1px);
    height: 100%;
    background: #000;
}
@media screen and (max-height: 360px) {
    .teaser{
        opacity: 0;
    }
    .top-head{
        height: 38px;
    }
    .qustion-video-wrap{
        top: 89px;
    }
    .video-wrap{
        height: 70% !important;
    }
    .question-wrap{
        height: 34% !important;
    }
}
@media screen and (max-width: 720px) {
body{
    left: 0px !important;
    right: 0px !important;
}
.main-container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.video-wrap{
    width: 100%;
    position: absolute;
    height: 50%;
}
.teaser{
    width: 100%;
}
.question-wrap{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0px;
}
.record-btn-wrap{
    width: 100%;
}
}
